/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}









body {
  background-color: #1a2325;
    max-width: 1100px;
    max-height: 2500px;
    margin: auto;
}

h1 {
  color: #ffffff;
  font-family: QuatroSlab;
  font-size: 36px;
  line-height: 42px;
  width: 300px;
}

h2 {
  color: #555a5b;
  font-family: LFT Etica;
  font-style: book;
  font-size: 16px;
  line-height: 18px;
  padding-top: 8pt;
  padding-bottom: 24px;
}

p {
  color: #abadad;
  font-family: LFT Etica;
  font-style: regular;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 12px;
}

button {
  border: none;
  background-color: #01bfc1;
  padding: 15px 32px; 
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-style: SemiBold;
  font-family: LFT Etica;
  font-size: 14px;
  font-weight: 600;
  margin-left: 9px;
}

.bordertop {
  border-top: 3px solid #f8695a;
    position: absolute;
    right: 0;
    left: 0;
}

.dobotlogo {
  display: inline-block;
  background-color: #f8695a;
  box-sizing: border-box;
  height: 80px;
  width: 80px;
  text-align: center;
  padding-top: 22.5px;
  padding-bottom: 22.5px;
  padding-left: 14px;
  padding-right: 14px;
}

.checkout {
  color: #01bfc1;
  font-family: LFT Etica;
  font-style: regular;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  line-height: 24px;
}

.buy {
  color: #ffffff;
  font-family: QuatroSlab;
  font-size: 24px;
  padding-top: 30px;
  padding-right: 22px;
}

.product {
    display: inline-block;
    margin-top: 108px;
    position: relative;
}

.productphoto {
  float: right;
  clear: both;
  padding-left: 60px;
}

.dotted {
  border: 1px dotted #6d7171;
  margin-right: 640px;
  margin-top: 20px;
}

.borderbottom {
  border: 1px solid #6d7171;
  margin-top: 107px;
  margin-left: 3px;
  margin-bottom: 4px;
}

@media (max-width: 900px) {
  .product {
    max-width: 300px;
    padding-left: 20px;
  }
  .productphoto {
    width: calc(100%);
    padding-bottom: 30px;
    padding-left: 20px;
  }
  .dotted {
    margin-right: 0px; 
}