body {
	background-color: #1a2325;
	padding: 80px;
	font-family: LFT Etica;
	font-style: regular;
	font-size: 16px;
	color: #abadad;
}

h1 {
	color: #ffffff;
	font-family: QuatroSlab;
	font-size: 36px;
}

h2 {
	color: #555a5b;
	font-family: LFT Etica;
	font-style: book;
	font-size: 16px;
}

h3 {
	color: #ffffff;
	font-family: QuatroSlab;
	font-size: 24px;
}

p {
	color: #abadad;
	font-family: LFT Etica;
	font-style: regular;
	font-size: 16px;
}

a {
	color: #01bfc1;
	font-family: LFT Etica;
	font-style: regular;
	font-size: 16px;
	text-decoration: none;
}

button {
	border-radius: 0;
	text-align: center;
	font-family: LFT Etica;
	font-style: semibold;
	color: #ffffff;
	background-color: #01bfc1;
}

div img {
	float: right;
	padding: 10px;
}


