body {
	background-color: #1a2325;
	padding: 70px;
	font-family: LFT Etica;
	font-style: regular;
	font-size: 16px;
	color: #abadad;
}

h1 {
	color: #ffffff;
	font-family: QuatroSlab;
	font-size: 36px;
}

h2 {
	color: #555a5b;
	font-family: LFT Etica;
	font-style: book;
	font-size: 16px;
}

h3 {
	color: #ffffff;
	font-family: QuatroSlab;
	font-size: 24px;
}

p {
	color: #abadad;
	font-family: LFT Etica;
	font-style: regular;
	font-size: 16px;
}

a {
	color: #01bfc1;
	font-family: LFT Etica;
	font-style: regular;
	font-size: 16px;
	text-decoration: none;
}

button {
	border: none;
	color: #ffffff;
	text-transform: uppercase;
	font-style: SemiBold;
	font-family: LFT Etica;
	font-size: 14 px
	text-align: center;
	background-color: #01bfc1;
	padding: 15px 32px 
}

div img {
	float: right;
	padding: 10px;
	display: block;
}

header img {
	background-color: #f8695a
	border: none;
	display: inline-block;
}

